.toolbar-container {
  display: grid;
  grid-template-columns: auto 1fr auto;

  width: 100%;

  border-bottom-style: solid;
  border-bottom-width: var(--tiny-length);
}

.toolbar-app-logo {
  display: flex;
  align-items: end;
  gap: var(--medium-length);

  height: 100%;

  padding-right: var(--medium-length);
}

.toolbar-app-logo-app-name {
  font-size: var(--font-size-major);
}

.toolbar-app-logo-app-version {
  font-size: var(--font-size-subscript);
}

.toolbar-controls-container {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  margin: 0px;
  padding: var(--small-length);
}

.toolbar-controls-container button {
  margin: 0px;
  padding: var(--medium-length);

  border-style: none;
  border-radius: var(--medium-length);
}

.dropdown-menu-container {
  display: flex;
  flex-direction: column;

  position: absolute;

  padding: var(--medium-length);

  border-style: solid;
  border-radius: var(--medium-length);
  border-width: var(--tiny-length);

  z-index: 1;
}

.dropdown-menu-container button {
  text-align: left;

  border-style: none;
  border-radius: var(--medium-length);
  
  margin: 0px;
  padding: var(--medium-length);
  padding-left: var(--ultra-strong-length);
  padding-right: var(--ultra-strong-length);
}
