/*
  For painting actionable elements, such as buttons, in the UI.
*/

.theme-dark {
  --theme-dark-action: #00A07B;
}

.theme-dark.action-bgc {
  background-color: var(--theme-dark-action);
}

.theme-dark.action-hl {
  &:hover {
    background-color: var(--theme-dark-action);
  }
}

.theme-dark.action-c {
  color: var(--theme-dark-action);
}

.theme-dark.action-bdc {
  border-color: var(--theme-dark-action);
}

.theme-dark.action-bdc-top {
  border-top-color: var(--theme-dark-action);
}

.theme-dark.action-bdc-bottom {
  border-bottom-color: var(--theme-dark-action);
}

.theme-dark.action-bdc-left {
  border-left-color: var(--theme-dark-action);
}

.theme-dark.action-bdc-right {
  border-right-color: var(--theme-dark-action);
}

.theme-dark.action-svg {
  filter: brightness(0) saturate(100%) invert(71%) 
          sepia(63%) saturate(7118%) hue-rotate(137deg) 
          brightness(88%) contrast(101%);
}