.markdown-editor-textarea-container {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100%;
}

.markdown-editor-start-suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100%;

  font-size: var(--font-size-backdrop);
}
