.markdown-editor-textarea-container {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100%;
  padding-bottom: var(--strong-length);

  box-sizing: border-box;
}

.markdown-editor-renderer-container {
  display: grid;
  grid-template-rows: auto 1fr;

  gap: var(--medium-length);

  width: 100%;
  height: 100%;

  user-select: text;
}

.markdown-editor-start-suggestion {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  
  text-align: center;

  font-size: var(--font-size-backdrop);
}
