.divider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.divider-panel {
  display: inline-block;
}

.divider-handle {
  position: absolute;
}

.horizontal {
  right: 0px;
  top: 0px;
  width: 5px;
  height: 100%;

  &:hover {
    cursor: e-resize;
  }
}

.vertical {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 5px;

  &:hover {
    cursor: n-resize;
  }
}
