.divider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.divider-content-container {
  position: absolute;
  overflow: hidden;
}

.divider-handle {
  position: absolute;
  border-width: var(--strong-length);
}

.divider-handle.horizontal {
  right: 0px;
  top: 0px;
  width: var(--medium-length);
  height: 100%;

  border-right-style: solid;

  &:hover {
    cursor: e-resize;
  }
}

.divider-handle.vertical {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: var(--medium-length);

  border-bottom-style: solid;

  &:hover {
    cursor: n-resize;
  }
}
