.browser-file-container {
  display: flex;
  align-items: center;

  border-radius: var(--medium-length);

  margin-bottom: var(--medium-length);
  padding: var(--medium-length);

  user-select: none;
}

.browser-file-delete-button {
  display: flex;
  align-items: center;

  margin-right: var(--medium-length);
  padding: var(--small-length);

  border-style: none;
  border-radius: var(--small-length);

  background: none;
}
