:root {
  --normal-margin: 5px;
  --strong-margin: 12px;
}

body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

#root {
  width: 100%;
  height: 100%;
}

.float-right {
  float: right;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.w-75 {
  height: 75%;
}

.h-50 {
  height: 50%;
}

.w-auto {
  width: auto;
}

.size-tiny-icon {
  width: 14px;
  height: 14px;
}

.h-auto {
  height: auto;
}

.w-max-content {
  width: max-content;
}

.h-max-content {
  height: max-content;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.d-flex {
  display: flex;
}

.d-justify-center {
  justify-content: center;
}

.d-justify-end {
  justify-content: end;
}

.d-align-items-center {
  align-items: center;
}

.text-align-left {
  text-align: left;
}

.ml-norm {
  margin-left: var(--normal-margin);
}

.mr-norm {
  margin-right: var(--normal-margin);
}

.mt-norm {
  margin-top: var(--normal-margin);
}

.mb-norm {
  margin-bottom: var(--normal-margin);
}

.ml-strng {
  margin-left: var(--strong-margin);
}

.mr-strong {
  margin-right: var(--strong-margin);
}

.mt-strong {
  margin-top: var(--strong-margin);
}

.mb-strong {
  margin-bottom: var(--strong-margin);
}

.user-select-text {
  user-select: text;
}

.debug-bg-red {
  background-color: red;
}

.debug-bg-green {
  background-color: green;
}

.debug-bg-blue {
  background-color: blue;
}

.debug-gb-black {
  background-color: black;
}
