.markdown-row {
  width: 100%;

  container-name: markdown-row-container;
  container-type: inline-size;
}

.markdown-row-content-container {
  display: flex;
}

@container markdown-row-container (width < 800px) {
  .markdown-row-content-container {
    display: block
  }
}
