/*
  Most background color. Should be used to paint the least important aspects of the UI.
*/

.theme-light {
  --theme-light-ambient: #F3F3F3;
}

.theme-light.ambient-bgc {
  background-color: var(--theme-light-ambient);
}

.theme-light.ambient-hl {
  &:hover {
    background-color: var(--theme-light-ambient);
  }
}

.theme-light.ambient-c {
  color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc {
  border-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-top {
  border-top-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-bottom {
  border-bottom-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-left {
  border-left-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-right {
  border-right-color: var(--theme-light-ambient);
}

.theme-light.ambient-svg {
  filter: brightness(0) saturate(100%) invert(100%) 
          sepia(3%) saturate(373%) hue-rotate(219deg) 
          brightness(115%) contrast(91%);
}
