.theme-dark {
  --theme-dark-ambient: #333333;
  --theme-dark-shadow: #515151;
  --theme-dark-outline: #777777;
  --theme-dark-glyph: #F9F9F9;
  --theme-dark-action: #00A07B;
  --theme-dark-action-hl: #00BC8D;
  --theme-dark-action-bd: #008767;
}

  /* AMBIENT */
.theme-dark.ambient-bgc {
  background-color: var(--theme-dark-ambient);
}

.theme-dark.ambient-hl {
  &:hover {
    background-color: var(--theme-dark-ambient);
  }
}

.theme-dark.ambient-c {
  color: var(--theme-dark-ambient);
}

.theme-dark.ambient-bdc {
  border-color: var(--theme-dark-ambient);
}

.theme-dark.ambient-bdc-top {
  border-top-color: var(--theme-dark-ambient);
}

.theme-dark.ambient-bdc-bottom {
  border-bottom-color: var(--theme-dark-ambient);
}

.theme-dark.ambient-bdc-left {
  border-left-color: var(--theme-dark-ambient);
}

.theme-dark.ambient-bdc-right {
  border-right-color: var(--theme-dark-ambient);
}

  /* SHADOW */
.theme-dark.shadow-bgc {
  background-color: var(--theme-dark-shadow);
}

.theme-dark.shadow-hl {
  &:hover {
    background-color: var(--theme-dark-shadow);
  }
}

.theme-dark.shadow-c {
  color: var(--theme-dark-shadow);
}

.theme-dark.shadow-bdc {
  border-color: var(--theme-dark-shadow);
}

.theme-dark.shadow-bdc-top {
  border-top-color: var(--theme-dark-shadow);
}

.theme-dark.shadow-bdc-bottom {
  border-bottom-color: var(--theme-dark-shadow);
}

.theme-dark.shadow-bdc-left {
  border-left-color: var(--theme-dark-shadow);
}

.theme-dark.shadow-bdc-right {
  border-right-color: var(--theme-dark-shadow);
}

  /* OUTLINE */
.theme-dark.outline-bgc {
  background-color: var(--theme-dark-outline);
}

.theme-dark.outline-hl {
  &:hover {
    background-color: var(--theme-dark-outline);
  }
}

.theme-dark.outline-c {
  color: var(--theme-dark-outline);
}

.theme-dark.outline-bdc {
  border-color: var(--theme-dark-outline);
}

.theme-dark.outline-bdc-top {
  border-top-color: var(--theme-dark-outline);
}

.theme-dark.outline-bdc-bottom {
  border-bottom-color: var(--theme-dark-outline);
}

.theme-dark.outline-bdc-left {
  border-left-color: var(--theme-dark-outline);
}

.theme-dark.outline-bdc-right {
  border-right-color: var(--theme-dark-outline);
}

  /* GLYPH */
.theme-dark.glyph-bgc {
  background-color: var(--theme-dark-glyph);
}

.theme-dark.glyph-hl {
  &:hover {
    background-color: var(--theme-dark-glyph);
  }
}

.theme-dark.glyph-c {
  color: var(--theme-dark-glyph);
}

.theme-dark.glyph-bdc {
  border-color: var(--theme-dark-glyph);
}

.theme-dark.glyph-bdc-top {
  border-top-color: var(--theme-dark-glyph);
}

.theme-dark.glyph-bdc-bottom {
  border-bottom-color: var(--theme-dark-glyph);
}

.theme-dark.glyph-bdc-left {
  border-left-color: var(--theme-dark-glyph);
}

.theme-dark.glyph-bdc-right {
  border-right-color: var(--theme-dark-glyph);
}

  /* BUTTON */
.theme-dark.button {
  color: var(--theme-dark-glyph-c);
  background-color: var(--theme-dark-action);
  border-color: var(--theme-dark-action-bd);

  &:hover{
    background-color: var(--theme-dark-action-hl);
  }
}
