.theme-light {
  --theme-light-ambient: #F9F9F9;
  --theme-light-shadow: white;
  --theme-light-outline: #D3D3D3;
  --theme-light-glyph: black;
  --theme-light-script: #2D2D2D;
  --theme-light-action: #3AADFF;
  --theme-light-action-hl: #5EBEFF;
  --theme-light-action-bd: #0094FF;
}

/* AMBIENT */
.theme-light.ambient-bgc {
  background-color: var(--theme-light-ambient);
}

.theme-light.ambient-hl {
  &:hover {
    background-color: var(--theme-light-ambient);
  }
}

.theme-light.ambient-c {
  color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc {
  border-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-top {
  border-top-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-bottom {
  border-bottom-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-left {
  border-left-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-right {
  border-right-color: var(--theme-light-ambient);
}

.theme-light.ambient-svg {
  filter: brightness(0) saturate(100%) invert(100%) 
          sepia(100%) saturate(0%) hue-rotate(186deg) 
          brightness(106%) contrast(95%);
}

/* SHADOW */
.theme-light.shadow-bgc {
  background-color: var(--theme-light-shadow);
}

.theme-light.shadow-hl {
  &:hover {
    background-color: var(--theme-light-shadow);
  }
}

.theme-light.shadow-c {
  color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc {
  border-color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc-top {
  border-top-color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc-bottom {
  border-bottom-color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc-left {
  border-left-color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc-right {
  border-right-color: var(--theme-light-shadow);
}

.theme-light.shadow-svg {
  filter: brightness(0) saturate(100%) invert(100%) 
          sepia(20%) saturate(0%) hue-rotate(300deg) 
          brightness(104%) contrast(104%);
}

/* OUTLINE */
.theme-light.outline-bgc {
  background-color: var(--theme-light-outline);
}

.theme-light.outline-hl {
  &:hover {
    background-color: var(--theme-light-outline);
  }
}

.theme-light.outline-c {
  color: var(--theme-light-outline);
}

.theme-light.outline-bdc {
  border-color: var(--theme-light-outline);
}

.theme-light.outline-bdc-top {
  border-top-color: var(--theme-light-outline);
}

.theme-light.outline-bdc-bottom {
  border-bottom-color: var(--theme-light-outline);
}

.theme-light.outline-bdc-left {
  border-left-color: var(--theme-light-outline);
}

.theme-light.outline-bdc-right {
  border-right-color: var(--theme-light-outline);
}

.theme-light.outline-svg {
  filter: brightness(0) saturate(100%) invert(48%) 
          sepia(1%) saturate(0%) hue-rotate(63deg) 
          brightness(97%) contrast(94%);
}

/* GLYPH */
.theme-light.glyph-bgc {
  background-color: var(--theme-light-glyph);
}

.theme-light.glyph-hl {
  &:hover {
    background-color: var(--theme-light-glyph);
  }
}

.theme-light.glyph-c {
  color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc {
  border-color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc-top {
  border-top-color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc-bottom {
  border-bottom-color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc-left {
  border-left-color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc-right {
  border-right-color: var(--theme-light-glyph);
}

.theme-light.glyph-bgc {
  background-color: var(--theme-light-glyph);
}

.theme-light.glyph-hl {
  &:hover {
    background-color: var(--theme-light-glyph);
  }
}

.theme-light.glyph-svg {
  filter: brightness(0) saturate(100%) invert(0%) 
          sepia(0%) saturate(0%) hue-rotate(125deg) 
          brightness(94%) contrast(101%);
}

/* SCRIPT */

.theme-dark.script-bgc {
  background-color: var(--theme-dark-script);
}

.theme-dark.script-hl {
  &:hover {
    background-color: var(--theme-dark-script);
  }
}

.theme-light.script-c {
  color: var(--theme-light-script);
}

.theme-light.script-bdc {
  border-color: var(--theme-light-script);
}

.theme-light.script-bdc-top {
  border-top-color: var(--theme-light-script);
}

.theme-light.script-bdc-bottom {
  border-bottom-color: var(--theme-light-script);
}

.theme-light.script-bdc-left {
  border-left-color: var(--theme-light-script);
}

.theme-light.script-bdc-right {
  border-right-color: var(--theme-light-script);
}

.theme-light.script-svg {
  filter: brightness(0) saturate(100%) invert(17%) 
          sepia(45%) saturate(0%) hue-rotate(222deg) 
          brightness(93%) contrast(99%);
}

/* ACTION */
.theme-light.action-bgc {
  background-color: var(--theme-light-action);
}

.theme-light.action-hl {
  &:hover {
    background-color: var(--theme-light-action);
  }
}

.theme-light.action-c {
  color: var(--theme-light-action);
}

.theme-light.action-bdc {
  border-color: var(--theme-light-action);
}

.theme-light.action-bdc-top {
  border-top-color: var(--theme-light-action);
}

.theme-light.action-bdc-bottom {
  border-bottom-color: var(--theme-light-action);
}

.theme-light.action-bdc-left {
  border-left-color: var(--theme-light-action);
}

.theme-light.action-bdc-right {
  border-right-color: var(--theme-light-action);
}

.theme-light.action-svg {
  filter: brightness(0) saturate(100%) invert(65%) 
          sepia(54%) saturate(3863%) hue-rotate(181deg) 
          brightness(103%) contrast(101%);
}

  /* BUTTON */
.theme-light.button {
  color: var(--theme-light-glyph-c);
  background-color: var(--theme-light-action);
  border-color: var(--theme-light-action-bd);

  &:hover{
    background-color: var(--theme-light-action-hl);
  }
}
