.theme-light {
  --theme-light-ambient: #F9F9F9;
  --theme-light-shadow: white;
  --theme-light-outline: #D3D3D3;
  --theme-light-glyph: black;
}

  /* AMBIENT */
.theme-light.ambient-bgc {
  background-color: var(--theme-light-ambient);
}

.theme-light.ambient-hl {
  &:hover {
    background-color: var(--theme-light-ambient);
  }
}

.theme-light.ambient-c {
  color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc {
  border-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-top {
  border-top-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-bottom {
  border-bottom-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-left {
  border-left-color: var(--theme-light-ambient);
}

.theme-light.ambient-bdc-right {
  border-right-color: var(--theme-light-ambient);
}

  /* SHADOW */
.theme-light.shadow-bgc {
  background-color: var(--theme-light-shadow);
}

.theme-light.shadow-hl {
  &:hover {
    background-color: var(--theme-light-shadow);
  }
}

.theme-light.shadow-c {
  color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc {
  border-color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc-top {
  border-top-color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc-bottom {
  border-bottom-color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc-left {
  border-left-color: var(--theme-light-shadow);
}

.theme-light.shadow-bdc-right {
  border-right-color: var(--theme-light-shadow);
}

  /* OUTLINE */
.theme-light.outline-bgc {
  background-color: var(--theme-light-outline);
}

.theme-light.outline-hl {
  &:hover {
    background-color: var(--theme-light-outline);
  }
}

.theme-light.outline-c {
  color: var(--theme-light-outline);
}

.theme-light.outline-bdc {
  border-color: var(--theme-light-outline);
}

.theme-light.outline-bdc-top {
  border-top-color: var(--theme-light-outline);
}

.theme-light.outline-bdc-bottom {
  border-bottom-color: var(--theme-light-outline);
}

.theme-light.outline-bdc-left {
  border-left-color: var(--theme-light-outline);
}

.theme-light.outline-bdc-right {
  border-right-color: var(--theme-light-outline);
}

  /* OUTLINE */
.theme-light.glyph-bgc {
  background-color: var(--theme-light-glyph);
}

.theme-light.glyph-hl {
  &:hover {
    background-color: var(--theme-light-glyph);
  }
}

.theme-light.glyph-c {
  color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc {
  border-color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc-top {
  border-top-color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc-bottom {
  border-bottom-color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc-left {
  border-left-color: var(--theme-light-glyph);
}

.theme-light.glyph-bdc-right {
  border-right-color: var(--theme-light-glyph);
}
