/* AMBIENT */
.theme-light.ambient-bgc {
  background-color: white;
}

.theme-light.ambient-hl {
  &:hover {
    background-color: white;
  }
}

.theme-light.ambient-c {
  color: white;
}

.theme-light.ambient-bdc {
  border-color: white;
}

.theme-light.ambient-bdc-top {
  border-top-color: white;
}

.theme-light.ambient-bdc-bottom {
  border-bottom-color: white;
}

.theme-light.ambient-bdc-left {
  border-left-color: white;
}

.theme-light.ambient-bdc-right {
  border-right-color: white;
}

  /* OUTLINE */
.theme-light.outline-bgc {
  background-color: #D3D3D3;
}

.theme-light.outline-hl {
  &:hover {
    background-color: #D3D3D3;
  }
}

.theme-light.outline-c {
  color: #D3D3D3;
}

.theme-light.outline-bdc {
  border-color: #D3D3D3;
}

.theme-light.outline-bdc-top {
  border-top-color: #D3D3D3;
}

.theme-light.outline-bdc-bottom {
  border-bottom-color: #D3D3D3;
}

.theme-light.outline-bdc-left {
  border-left-color: #D3D3D3;
}

.theme-light.outline-bdc-right {
  border-right-color: #D3D3D3;
}
