.tab-controls-button {
  padding: var(--medium-length);

  border-style: solid;
  border-left-width: var(--tiny-length);
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tab-controls-button.highlight {
  border-bottom-width: var(--tiny-length);
}

.tab-controls-button:last-child {
  border-right-width: var(--tiny-length);
}

.tab-remove-icon {
  vertical-align: middle;
  filter: 
    brightness(0) saturate(100%) invert(47%) sepia(1%) saturate(3362%) 
    hue-rotate(59deg) brightness(97%) contrast(93%);
}

.tab-remove-icon-container {
  margin-left: var(--medium-length);
  padding: var(--tiny-length);

  border-radius: var(--small-length);

  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}
