.tab-controls-button {
  padding: var(--medium-length);

  border-style: solid;
  border-left-width: var(--tiny-length);
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tab-controls-button.highlight {
  border-bottom-width: var(--tiny-length);
}

.tab-controls-button:last-child {
  border-right-width: var(--tiny-length);
}

.tab-remove-icon {
  vertical-align: top;
}

.tab-remove-icon-container {
  margin-left: var(--medium-length);
  padding: var(--small-length);

  border-radius: var(--small-length);

  cursor: pointer;
}
